@model IEnumerable<WebLecturaInteractiva.Models.DetalleModoLecturaXLectura>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lectura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoLectura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lectura.Id_Lectura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoLectura.Id_ModoLectura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_DetalleModoLecturaXLectura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_DetalleModoLecturaXLectura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_DetalleModoLecturaXLectura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
