@model WebLecturaInteractiva.Models.SubCategoriaLectura

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>SubCategoriaLectura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreSubCategoriaLectura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreSubCategoriaLectura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DecripcionSubCategoriaLectura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DecripcionSubCategoriaLectura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagenSubCategoriaLectura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagenSubCategoriaLectura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Id_CategoriaLectura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lectura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lectura.Id_Lectura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_SubCategoriaLectura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
