@model IEnumerable<WebLecturaInteractiva.Models.NivelPregunta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_NivelPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_NivelPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_NivelPregunta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_NivelPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_NivelPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_NivelPregunta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_NivelPregunta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_NivelPregunta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_NivelPregunta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
