@model WebLecturaInteractiva.Models.TipoIdentificacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoIdentificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres_TipoIdentificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres_TipoIdentificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_TipoIdentificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion_TipoIdentificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_TipoIdentificacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
